# Dependencies
node_modules/
.pnpm-store/

# Production
dist/
build/

# Environment Variables
.env
.env.local

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Client specific
client/node_modules/
client/dist/
